#main
  %h2 Edit Restaurant
  = render 'form'
  -if current_user && current_user.id == @restaurant.user.id
    =link_to "<button>Delete</button>".html_safe, restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?'}
  =link_to "Back", @restaurant
