.jumbotron
  %h2 Restaurant List
.container
  %ul
    -@restaurants.each do |restaurant|
      %li
        = image_tag restaurant.image_url
        %p= restaurant.name
        %p= restaurant.description
        =link_to "<button>More info</button>".html_safe, restaurant
-if current_user
  =link_to "Add restaurant", url_for(action: :new)
