#container
	%header
		%h1 KELP
	#main
		%h2 Add Restaurant
		=form_tag(controller: :restaurants, action: :create)
		=label_tag :name
		=text_field_tag :name
		=label_tag :description
		=text_field_tag :description
		=button_tag 'Add', type: :submit
