!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kelp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  .header
    .container
      %header
        %nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              %a.navbar-brand{:href => root_path} Kelp
            %ul.nav.navbar-nav.navbar-right
              - if !current_user
                %li
                  %a{:href => new_user_session_path} Sign In
                %li
                  %a{:href => new_user_registration_path} Sign Up
              - else
                %li
                  %a{:href => edit_user_registration_path} Edit Profile
                %li
                  %a{:href => destroy_user_session_path} Sign Out

  
    -flash.each do |key, value|
      .alert.alert-info
        =value
  =yield
